
<form name="editForm" role="form" novalidate ng-submit="save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myTraitLabel" translate="bmsapi2App.trait.home.createOrEditLabel">Create or edit a Trait</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="trait.id" readonly>
        </div>

        <div class="form-group">
            <label translate="bmsapi2App.trait.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="trait.name"
                    >

        </div>
        <div class="form-group">
            <label translate="bmsapi2App.trait.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                    ng-model="trait.description"
                    >

        </div>
        <div class="form-group">
            <label translate="bmsapi2App.trait.property" for="field_property">Property</label>
            <input type="text" class="form-control" name="property" id="field_property"
                    ng-model="trait.property"
                    >

        </div>
        <div class="form-group">
            <label translate="bmsapi2App.trait.measurementMethod" for="field_measurementMethod">MeasurementMethod</label>
            <input type="text" class="form-control" name="measurementMethod" id="field_measurementMethod"
                    ng-model="trait.measurementMethod"
                    >

        </div>
        <div class="form-group">
            <label translate="bmsapi2App.trait.scale" for="field_scale">Scale</label>
            <input type="text" class="form-control" name="scale" id="field_scale"
                    ng-model="trait.scale"
                    >

        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || editForm.$submitted" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
